{
  color: #f8f8f2;
  /* background-color: rgba(68, 71, 90, 0.4); */
  background-color: rgba(40, 42, 54, 0.85);
  border: 1px solid rgba(189, 147, 249, 0.6);
  border-radius: 4px;
  margin: 1px;
  padding: 0px 5px;
}
